<table border="0" width="50%" style="padding-left: 120px;">
	<tr>
		<td><h1>New image</h1></td>
	</tr>
	<tr>
		<td>Far far away, behind the word mountains, far
			from the countries Vokalia and Consonantia,
			there live the blind texts. Separated they live in
			Bookmarksgrove right at the coast of the
			Semantics, a large language ocean.
		</td>
	</tr>
	<tr><td height="15px"></td></tr>
	<tr>
		<td style="padding-left: 100px;"><%= render 'form' %></td>
	</tr>
</table>
